<script>
    export let candidate;
</script>

<div class="section-heading">
    <h3>
        {#if candidate.candidateUrl}
            <a href={candidate.candidateUrl} target="_blank" rel="noopener noreferrer">{candidate.name.full}</a>
        {:else}
            {candidate.name.full}
        {/if}
    </h3>
    {#if candidate.party}
        <small>({candidate.party})</small>
    {/if}
</div>
<div class="section-content">    
    <div class="content-grid">
        {#if candidate.email || candidate.phone}
            <div class="channel-container">
                <h4>Contact Channels</h4>
                <ul>
                    {#if candidate.phone}
                        <li><a href="tel:+1{candidate.phone.replace(/[- ()]/g, '')}">Phone</a></li>
                    {/if}
                    {#if candidate.email}
                        <li><a href="mailto:{candidate.email}">Email</a></li>
                    {/if}
                </ul>
            </div>
        {:else}
            <div class="placeholder channel-placeholder">
                <p>No Contact Information</p>
            </div>
        {/if}
        {#if candidate.channels && candidate.channels.length > 0}
            <div class="channel-container">
                <h4>Media Presence</h4>
                <ul>
                    {#each candidate.channels as channel}
                        <li><a href={channel.id} target="_blank" rel="noopener noreferrer">{channel.type}</a></li>
                    {/each}
                </ul>
            </div>
        {:else}
            <div class="placeholder channel-placeholder">
                <p>No Digital Media Presence</p>
            </div>
        {/if}
    </div>
    <div class="content-grid">
        {#if candidate.votes && candidate.votes.source}
            <table>
                <caption><a href={candidate.votes.source} target="_blank" rel="noopener noreferrer">Recent Votes</a></caption>
                <thead>
                    <tr>
                        <th>Bill</th>
                        <th>Vote</th>
                    </tr>
                </thead>
                <tbody>
                {#each candidate.votes.list as vote}
                    <tr>
                        <td>{vote.title}</td>
                        <td>{vote.vote}</td>
                    </tr>
                {/each}
                </tbody>
            </table>
        {:else}
            <div class="placeholder table-placeholder">
                <p>No Voting History</p>
            </div>
        {/if}
        {#if candidate.contributors && candidate.contributors.source}
            <table>
                <caption><a href={candidate.contributors.source} target="_blank" rel="noopener noreferrer">Top Contributors</a></caption>
                <thead>
                    <tr>
                        <th>Contributor</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                {#each candidate.contributors.list as contrib}
                    <tr>
                        <td>{contrib.name}</td>
                        <td>{contrib.amount}</td>
                    </tr>
                {/each}
                </tbody>
            </table>
        {:else}
            <div class="placeholder table-placeholder">
                <p>No Contributors</p>
            </div>
        {/if}
    </div>
</div>

<style lang="scss">
    @import '../styles/theme.scss';

    a {
        color: $text-light;
        cursor: pointer;
    }

    p {
        color: $text-light;
        font-size: 16rem;
    }

    small {
        font-size: 12rem;
    }

    .section-heading {
        background-color: $primary;
        color: $text-light;;
        height: 50rem;
        position: sticky;
        top: 60rem;
        z-index: 1;
    }

    .section-content {
        color: $text-light;
        width: 100%;
    }

    .placeholder {
        background-image: get-icon('info', $secondary);
        background-repeat: no-repeat;
        background-size: 16rem;
        justify-content: center;
    }

    .channel-placeholder {
        background-position: 50% 25%;
        height: 64rem;
    }

    .channel-placeholder > p {
        position: relative;
        top: 32rem;
    }

    .table-placeholder {
        align-items: center;
        background-position: 50% 37.5%;
        height: 128rem;
        margin-bottom: 20rem;
        position: relative;
        top: 20rem;
    }

    .table-placeholder > p {
        position: relative;
        top: 8rem;
    }

    .placeholder,
    .channel-container {
        background-color: base-elevation(4);
        box-shadow: 0 0 10rem $shadow;
        display: flex;
        width: 100%;
    }

    .channel-container {
        align-items: center;
        flex-direction: column;
        height: 64rem;
        justify-content: space-around;
    }

    .content-grid {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 20px;
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
    }

    li, li > * {
        font-size: 12rem;
    }

    table {
        border: 3rem solid $primary;
        border-collapse: collapse;
        box-shadow: 0 0 10rem $shadow;
        font-size: 24rem;
        table-layout: fixed;
        width: 100%;
        word-break: break-word;
    }

    thead {
        background-color: $primary;
        color: $white;
    }

    th, td {
        font-size: 12rem;
        padding: 5rem;
        text-align: center;
    }

    tbody tr {
        color: $text-light;
    }

    tbody tr:nth-child(odd) {
        background-color: base-elevation(3);
    }

    tbody tr:nth-child(even) {
        background-color: base-elevation(2);
    }
</style>