$shadow:  rgba(18,18,18,0.8);
$white: #EDF2F4;

$base: #121212;

$primary: #2195f2;
$primary-dark: #0068bf;
$primary-light: #6ec5ff;
$secondary: #d60c0c;
$secondary-dark: #9c0000;
$text-light: #ffffff;
$text-dark: #424242;

$overlays: (
    100%,
    95%,
    93%,
    92%,
    91%,
    89%,
    88%,
    86%,
    85%,
    84%
);

@function base-elevation($elevation: 1) {
    @return mix($base, #FFFFFF, nth($overlays, $elevation));
}

$icons: (
    'chevron-bottom': '<svg id="i-chevron-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="%%COLOR%%" stroke-linecap="miter" stroke-linejoin="butt" stroke-width="3.5px"><path d="M30 12 L16 24 2 12" /></svg>',
    'info': '<svg id="i-info" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="%%COLOR%%" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"><path d="M16 14 L16 23 M16 8 L16 10" /><circle cx="16" cy="16" r="14" /></svg>',
    'loading': '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid"><rect x="17.5" y="30" width="15" height="40" fill="%%COLOR%%"><animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="18;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate><animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="64;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.2s"></animate></rect><rect x="42.5" y="30" width="15" height="40" fill="%%COLOR%%"><animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate><animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.1s"></animate></rect><rect x="67.5" y="30" width="15" height="40" fill="%%COLOR%%"><animate attributeName="y" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="20.999999999999996;30;30" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate><animate attributeName="height" repeatCount="indefinite" dur="1s" calcMode="spline" keyTimes="0;0.5;1" values="58.00000000000001;40;40" keySplines="0 0.5 0.5 1;0 0.5 0.5 1"></animate></rect></svg>',
    'reset': '<svg id="i-reply" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="%%COLOR%%" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5"><path d="M10 6 L3 14 10 22 M3 14 L18 14 C26 14 30 18 30 26" /></svg>'
);

$data-svg-prefix: 'data:image/svg+xml;utf-8,';

@function str-replace( $string, $search, $replace: '' ) {

    $index: str-index( $string, $search );

    @if $index {
        @return str-slice( $string, 1, $index - 1 ) + $replace + str-replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace);
    }

    @return $string;
}

@function get-icon( $icon, $color: $white ) {

    @if 'color' != type-of( $color ) {

        @warn 'The requested color - "' + $color + '" - was not recognized as a Sass color value.';
        @return null;
    }

    @if map-has-key( $icons, $icon ) {

        $icon: map-get( $icons, $icon );
        $placeholder: '%%COLOR%%';
        $data-uri: str-replace( url( $data-svg-prefix + $icon ), $placeholder, $color );

        @return str-replace( $data-uri, '#', '%23' );
    }

    @warn 'The requested icon - "' + $icon + '" - is not defined in the $icons map.';
    @return null;
}

