<script>
    export let contests;
</script>

<div class="section-heading">
    <h2>Additional Contests</h2>
</div>
<div class="section-content">
    <div id="additional-contest-warning">
        <p>Contests for the following offices are also on the ballot, but no information is available on the candidates.</p>
        <p>Check with your <a href="https://www.usa.gov/election-office" target="_blank" rel="noopener noreferrer">State or Local Election Office</a> for more information.</p>
    </div>
    <ul>
        {#each contests as contest}
            <li>
                {contest.office}
                {#if contest.district.name !== contest.office}
                    ({contest.district.name})
                {/if}
            </li>
        {/each}
    </ul>
</div>

<style lang="scss">
    @import "../styles/theme.scss";

    .section-heading {
        background-color: $primary-dark;
        color: $text-light;
        height: 60rem;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .section-content {
        background-color: base-elevation(3);
        margin: 20rem;
        width: 97.5%;
    }
    
    #additional-contest-warning {
        align-items: center;
        border-bottom: 2rem solid $primary;
        display: flex;
        flex-direction: column;
        padding: 10rem;
        text-align: center;
        width: 75%;
        word-wrap: break-word;
    }

    p, p > * {
        font-size: 14.6rem;
        color: $text-light;
    }

    ul {
        padding: 10rem;
    }

    li, li > * {
        color: $text-light;
        font-size: 12rem;
    }
</style>