<script>
    import CandidateDisplay from './augmentedContestDisplay/CandidateDisplay.svelte';
    export let contest;
</script>

<div class="section-heading">
    <h2>{contest.office}</h2>
    {#if contest.district.name !== contest.office}
        <small>({contest.district.name})</small>
    {/if}
</div>
<div class="section-content">
    {#each contest.candidates as candidate}
        <CandidateDisplay candidate={candidate}/>
    {/each}
</div>

<style lang="scss">
    @import "../styles/theme.scss";

    .section-heading {
        background-color: $primary-dark;
        color: $text-light;
        height: 60rem;
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .section-content {
        background-color: base-elevation(3);
        margin: 0;
        width: 97.5%;
    }

    h2, small {
        align-self: center;
    }

    small {
        font-size: 16rem;
    }
</style>