<script>
    export let referenda;
</script>

<div class="section-heading">
    <h2>Referenda</h2>
</div>
<div class="section-content">
    <dl>
        {#each referenda as referendum}
            <dt><a href={referendum.referendumUrl} target="_blank" rel="noopener noreferrer">{referendum.referendumTitle}</a></dt>
            <dd>{referendum.referendumSubtitle}</dd>
        {/each}
    </dl>
</div>

<style lang="scss">
    @import "../styles/theme.scss";

    .section-heading {
        background-color: $primary-dark;
        color: $text-light;
        height: 60rem;
        position: sticky;
        top: 0;
        z-index: 9;
    }

    .section-content {
        background-color: base-elevation(3);
        margin: 20rem;
        width: 97.5%;
    }

    dt, dt > * {
        color: $primary-light;
        font-size: 14.8rem;
        font-weight: bold;
        margin-bottom: 5rem;
    }

    dd {
        color: $text-light;
        font-size: 12rem;
        margin: 0 0 10rem 20rem;
    }

    dl {
        padding: 10rem 10rem 5rem 10rem;
    }
</style>