<script>
    import { dataStore, didError, isLoading } from '../../store';
    import { version, repository } from '../../../package.json';

    let wasValidated = false;

    const toggleLoading = () => {
        isLoading.update(current => !current);
    };

    const focusFirstError = () => {
        const activeErrors = Array
            .from(
                document
                .querySelectorAll(
                    'input:invalid'
                )
            );

        if (activeErrors.length > 0) {
            activeErrors[0].focus();
        }
    };

    const validateInput = input => 
        document
        .getElementById(input)
        .validity
        .valid;

    const queryForm = () => 
        Array
        .from(
            document
            .querySelectorAll(
                '#address-form input, #address-form select'
            )
        )
        .reduce((acc, cur) => ({
            ...acc,
            [cur.id]: cur.value.trim()
        }), {});

    const getBallot = ({addressLine1, addressLine2, city, state, zip}) =>
            fetch(
                `__backendService__/downballot-service?address=${
                    encodeURIComponent(
                        addressLine1 + ' '
                        + addressLine2 + ', '
                        + city + ', '
                        + state + ' '
                        + zip
                    )
                }`
            )
            .then(res => res)
            .catch(rej => rej);

    const getDemo = () => 
            fetch(
                `__backendService__/downballot-demo`
            )
            .then(res => res)
            .catch(rej => rej);

    const validateForm = data => {
        let formIsValid = true;

        for (const key of Object.keys(data)) {
            formIsValid = formIsValid && validateInput(key);
        }

        return formIsValid;
    };

    const handleServiceResponse = res => (res.ok
        ? Promise.resolve(res.json())
        : Promise.reject(res.json())
    ).then(scs => {
        dataStore.set(scs);
    }, (rej) => {
        didError.set(true);
    });

    const onSubmit = async e => {
        wasValidated = true;
        const formData = queryForm();

        if (validateForm(formData)) {
            toggleLoading();
            await getBallot(formData).then(handleServiceResponse);
            toggleLoading();
        } else {
            focusFirstError();
        }
    };

    const onClickDemo = async () => {
        toggleLoading();
        await getDemo().then(handleServiceResponse);
        toggleLoading();
    };
</script>

<div class="form-wrapper">
    <form on:submit|preventDefault={onSubmit} class="form" id="address-form" novalidate>
        <label for="addressLine1" class="form__label">
            Address Line 1
        </label>
        <input type="text" 
            required aria-required="true" 
            class="form__input-text"
            class:wasValidated="{wasValidated}"
            id="addressLine1"/>
        <label for="addressLine2" class="form__label">
            Address Line 2 (optional)
        </label>
        <input type="text" 
            class="form__input-text" 
            id="addressLine2"/>
        <label for="city" class="form__label">
            City
        </label>
        <input type="text" 
            required aria-required="true" 
            class="form__input-text"
            class:wasValidated="{wasValidated}"
            id="city"/>
        <label for="state" class="form__label">
            State
        </label>
        <select name="states" required aria-required="true" class="form__input-dropdown" id="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
        </select>
        <label for="zip" class="form__label">
            ZIP Code
        </label>
        <input type="text" 
            required 
            aria-required="true" 
            class="form__input-text"
            class:wasValidated="{wasValidated}"
            id="zip" 
            pattern="^\d{'{'}5{'}'}((?:[-\s]\d{'{'}4{'}'})|(\d{'{'}4{'}'}))?$"/>
        <button class="form__submit-button" type="submit">
            Search
        </button>
    </form>
    <small>{'v' + version} - view source code on <a href={repository.url} target="_blank" rel="noopener noreferrer">GitLab</a></small>
    <small on:click|preventDefault={onClickDemo}><u>View Demo</u></small>
</div>

<style lang="scss">
    @import '../styles/theme.scss';

    %input {
        background: transparent;
        border: 2rem solid;
        color: $text-light;
        font-size: 12rem;
        margin: 10rem 0;
        padding: 10rem;
    }

    @mixin valid {
        border-color: base-elevation(2) base-elevation(2) $primary-light;
    }

    @mixin invalid {
        border-color: base-elevation(2) base-elevation(2) $secondary;
    }

    @mixin focus {
        outline: none;
    }

    @mixin valid-focus {
        border-color: $primary-light;
    }

    @mixin invalid-focus {
        border-color: $secondary;
    }

    .form-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        min-width: 75%;
    }

    .form {
        background-color: base-elevation(2);
        box-shadow: 0 0 10rem black;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 25rem 50rem;
        width: 100%;
    }

    .form__input-text {
        @extend %input;
        @include valid;
        box-shadow: none;
    }

    .form__input-text:focus {
        @include focus;
        @include valid-focus;
    }

    .form__input-dropdown {
        @extend %input;
        @include valid;
        appearance: none;
        background-image: get-icon('chevron-bottom', $primary-light);
        background-position: right 10rem top 50%;
        background-repeat: no-repeat;
        background-size: 12rem;
    }

    .form__input-dropdown:focus {
        @include focus;
        @include valid-focus;
    }

    input.wasValidated:invalid {
        @include invalid;       
    }

    input.wasValidated:invalid:focus {
        @include focus;
        @include invalid-focus;
    }

    .form__label {
        color: $primary-light;
        font-size: 16rem;
        padding-top: 10rem;
    }

    .form__submit-button {
        background-color: $primary-light;
        border: 2rem solid $primary-light;
        color: base-elevation(2);
        cursor: pointer;
        font-size: 16rem;
        outline: none;
        padding: 15rem;
        text-align: center;
        text-transform: uppercase;
    }

    .form__submit-button:hover,
    .form__submit-button:focus {
        background-color: base-elevation(2);
        color: $primary-light;
    }

    .form__submit-button:active {
        background-color: $primary-light;
        color: base-elevation(2);
    }

    small, small > * {
        color: $text-dark;
        font-size: 11.2rem;
        margin-top: 5rem;
    }

    small > u {
        cursor: pointer;
    }
</style>

