<script>
    import { dataStore } from '../../store';

    import AdditionalContestsDisplay from './ballotDisplay/AdditionalContestsDisplay.svelte';
    import AugmentedContestDisplay from './ballotDisplay/AugmentedContestDisplay.svelte';
    import ReferendaDisplay from './ballotDisplay/ReferendaDisplay.svelte';

    export let ballot;

    const onClick = () => {
        dataStore.set({});
    };
</script>

<div class="section-heading">
    <h1>{ballot.election.name}</h1>
    <small>{ballot.election.electionDay}</small>
</div>
<div class="section-content">
    {#if ballot.contests.augmented.length > 0}
        {#each ballot.contests.augmented as contest}
            <AugmentedContestDisplay contest={contest}/>
        {/each}
    {/if}
    {#if ballot.contests.basic.length > 0}
        <AdditionalContestsDisplay contests={ballot.contests.basic}/>
    {/if}
    {#if ballot.contests.referenda.length > 0}
        <ReferendaDisplay referenda={ballot.contests.referenda}/>
    {/if}
</div>
<button on:click|preventDefault={onClick} type="reset"></button>

<style lang="scss">
    @import "../styles/theme.scss";

    :global(.section-heading) {
        align-items: center;
		border-radius: 0 0 5rem 5rem;
        box-shadow: 0 0 10rem $shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
	}
	
	:global(.section-content) {
        align-items: center;
        box-shadow: 0 0 10rem $shadow;
        display: flex;
        flex-direction: column;
    }

    .section-heading {
        background-color: base-elevation(2);
        color: $text-light;
        height: 70rem;
        position: static;
        z-index: 3;
    }

    .section-content {
        background-color: base-elevation(2);
        margin: 0;
        width: 97.5%;
    }

    small{
        font-size: 14.6rem;
        color: $text-light;
    }

    
    button {
        background-color: $secondary;
        background-image: get-icon('reset', white);
        background-position: center;
        background-repeat: no-repeat;
        border: 2rem solid $secondary;
        border-radius: 50%;
        box-shadow: 0 0 10rem $shadow;
        cursor: pointer;
        height: 56rem;
        outline: none;
        position: fixed;
        width: 56rem;
        top: 5%;
        right: 5%;
        z-index: 4;
    }

    button:hover, 
    button:focus {
        border: 2rem solid white;
    }

    button:active {
        background-color: $secondary-dark;
    }
</style>