<script>
    import { didError } from '../../store';
    
    const onClick = () => {
        didError.set(false);
    };
</script>

<div class="message-wrapper">
    <div class="message">
        <h1>Hmm...It doesn't look like there's anything to show you.</h1>
        <p>
            This tool relies on ballot information from the <a href="https://developers.google.com/civic-information" target="_blank" rel="noopener noreferrer">Civic Information API</a> 
            from the Voting Information Project and Google. It's possible that local ballot information is not yet 
            available through this service. If you're certain of an upcoming election, try checking back 
            closer to the election date. Alternatively, you can check with your 
            <a href="https://www.usa.gov/election-office" target="_blank" rel="noopener noreferrer">State or Local Election Office</a>
            for more information.
        </p>
        <button on:click|preventDefault={onClick} type="reset">
            Back
        </button>
    </div>
</div>

<style lang="scss">
    @import '../styles/theme.scss';

    .message-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        width: 90%;
    }

    .message {
        align-items: center;
        background-color: base-elevation(2);
        box-shadow: 0 0 10rem black;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 25rem 50rem;
        width: 100%;
    }

    h1, p {
        color: $white;
    }
    
    h1 {
        border-bottom: 2rem solid $secondary;
        margin-bottom: 15rem;
        padding-bottom: 15rem;
        text-align: center;
    }

    p, p > * {
        text-align: center;
        font-size: 16rem;
    }

    a {
        color: $primary;
    }

    button {
        background-color: $primary-light;
        border: 2rem solid $primary-light;
        color: base-elevation(2);
        cursor: pointer;
        font-size: 16rem;
        margin-top: 15rem;
        outline: none;
        padding: 15rem;
        text-align: center;
        text-transform: uppercase;
        width: 50%;
    }

    button:hover,
    button:focus {
        background-color: base-elevation(2);
        color: $primary-light;
    }

    button:active {
        background-color: $primary-light;
        color: base-elevation(2);
    }
</style>