<p class="sr">Please wait.</p>
<div class="spinner-wrapper">
    <div class="spinner"></div>
</div>

<style lang="scss">
    @import '../styles/theme.scss';

    .spinner-wrapper{
        display: flex;
        height: 100vh;
        justify-content: center;
    }

    .spinner {
        background-image: get-icon('loading', $primary-light);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 150rem;
        padding: 50rem;
    }
</style>