<script>
    import { dataStore, didError, isLoading } from '../store';

    import AddressForm from './app/AddressForm.svelte';
    import BallotDisplay from './app/BallotDisplay.svelte';
    import ErrorMessage from './app/ErrorMessage.svelte';
    import Loading from './app/Loading.svelte';
</script>

<div class="app-wrapper" aria-live="polite">
    {#if $isLoading}
        <Loading/>
    {:else if $didError}
        <ErrorMessage/>
    {:else if Object.keys($dataStore).length === 0}
        <AddressForm/>
    {:else}
        <BallotDisplay ballot={$dataStore}/>
    {/if}
</div>

<style lang="scss">
    .app-wrapper {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
</style>