<script>
	import App from './main/App.svelte';
</script>

<main>
	<App/>
</main>

<style global lang="scss">
	@import './styles/theme.scss';
	@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400&display=swap');

	* {
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		font-size: 1px;
		margin: 0;
		padding: 0;
		-webkit-tap-highlight-color: transparent;
	}

	html, 
	body {
		background-color: base-elevation(1);
	}

	main {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	h1, h2, 
	h3, h3 > a,
	h4,	label, 
	button,	caption, 
	caption > *, th {
		font-family: 'Roboto Slab', serif;
	}

	h1 {
        font-size: 24rem;
	}
	
	h2 {
		font-size: 21.5rem
	}

	h3, h3 > * {
		font-size: 20.8rem;
	}

	h4 {
		font-size: 16rem;
	}

	caption, caption > * {
		font-size: 16rem;
	}

	option {
		font-size: 12rem;
	}

	.sr {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		border: 0;
		clip: rect(0 0 0 0);
	}
</style>